body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  /* padding-left: ;
  padding-right: ; */
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.main-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.nav-links {
  /* text-decoration: none; */
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.nav-links:hover,
.nav-links:focus {
  color: #404bbf;
}

.address-list {
  font-style: normal;
}

.address-list-link {
  color: #434455;
  /* text-decoration: none; */
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.address-list-link:hover,
.address-list-link:focus {
  color: #404bbf;
}

.button-order {
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button-order:hover,
.button-order:focus {
  background-color: #404bbf;
}

/* #region Our Benefits */
.benefits-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.benefits-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.benefits-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}
/* #endregion Our Benefits */

/* #region Our Team */

.team-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-member {
  background-color: #ffffff;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-desc {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion Our Team */

/* #region Portfolio */

.portfolio-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-desc {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/* #endregion Portfolio */

/* #region background-color */
.section-hero {
  background-color: #2e2f42;
}

.section-benefits {
  background-color: #ffffff;
}

.section-team {
  background-color: #f4f4fd;
}

.section-portfolio {
  background-color: #ffffff;
}

/* #endregion background-color */

.page-footer {
  background-color: #2e2f42;
}

.footer-text {
  color: #f4f4fd;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* text-decoration: none; */
}

.logo .logo-studio-part-header {
  color: #2e2f42;
  font-family: inherit;
}

.logo .logo-studio-part-footer {
  color: #f4f4fd;
  font-family: inherit;
}
